<footer id="footer" class="card.footer">
    <div class="card">
        <div class="card-body">
            <p>“At this point, there is no human way that I could read even those books I've deliberately marked as
                absolute must-reads."- Pamela Paul, Editor of The New York Times Book Review</p>
        </div>
    </div>
</footer>