<footer class = "topnav">
    <div>
        <div class = "container">
            All articles belong to <a href = "https://www.nytimes.com/section/books" target = "_blank">The New York Times</a>
        </div>
    </div>
</footer>