<footer class="card.footer">
    <div class="card">
        <div class="card-body">
            <h6>“This is every reader's catch-22: the more you read, the more you realize you haven't read; the more you
                yearn to read more, the more you understand that you have, in fact, read nothing. There is no way to
                finish, and perhaps that shouldn't be the goal.”- Pamela Paul, Editor of The New York Times Book Review</h6>
        </div>
    </div>
</footer>