<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="shortcut icon" href="assets/img/news-icon.png" />

    <script src="/server.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Scraper</title>
</head>

<body>
    {{>nav/navbar}}
    <main>
        {{!-- <div class="row">
            <div class="grid-example col s12"><span class="flow-text"> --}}
                <div class="container">
                    {{{body}}}
                </div>
                {{!-- </span>
            </div>
        </div> --}}
    </main>
    {{>footer}}

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudfare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>

</html>