<div>
    <h1>Read the lastest book review from The New York Times</h1>
    <div class="row">
        <a class="btn btn-primary btn btn-dark" href="/scrape" role="button" target="_blank">Scrape Articles</a>
    </div>
</div>
<div class="card">
    <div>
        <div class="card">
            {{#each articles}}
            <div class="card">
                <h4>{{this.headline}}</h4>
                <a href={{this.url}} role="button" class="btn btn-primary btn btn-dark mb-2" id="read"
                    target="_blank">Read Article
                    Here</a>
                <a href="/save" role="button" class="btn btn-primary btn btn-dark mb-2" id="save" target="_blank">Save
                    Article</a>
                <p>{{this.summary}}</p>
            </div>
            {{/each}}
        </div>
    </div>
</div>
