<nav>
    <div class ="nav-wrapper topnav">
<a href="/scrape" class = "brand-logo center">News Scraper</a>
<ul class = "right" id="nav-moble">
    <li><a href="/scrape">Scrape</a></li>
</ul>
    </div>
</nav>