<nav>
    <div>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">News Scraper</span>
            <div>
            <a class="btn btn-primary btn btn-dark" href="/" role="button" target="_blank">Home</a>
            <a class="btn btn-primary btn btn-dark" href="/scrape" role="button" target="_blank">Scrape Articles</a>
            <a class="btn btn-primary btn btn-dark" href="/save" role="button" target="_blank">Saved Articles</a>
            <a class="btn btn-primary btn btn-dark" href="/clear" role="button" target="_blank">Clear Articles</a>
            </div>

        </nav>
    </div>
    <div id="navBar" class="jumbotron jumbotron-fluid">
        <div class="container">
        </div>
    </div>

</nav>