<nav>
    <div class ="nav-wrapper topnav">
<a href="/scrape" class = "brand-logo center">News Scraper</a>
<ul class = "right" id="nav-moble">
    <li><a href="/">Home</a></li>
    <li><a href="/scrape" target="_blank">Scrape Articles</a></li>
    <li><a href="/save" target="_blank">Saved Articles</a></li>
    <li><a href="/clear">Clear Articles</a></li>
</ul>
    </div>
</nav>